<h1>Editing task</h1>

<%= turbo_frame_tag "main" do %>
  <%= render "form", task: @task %>
  <%= link_to "Cancel", @task %> |
<% end %>

<br>

<div>
  <%= link_to "Back to tasks", tasks_path %>
</div>
